# =====================
# Node.js
# =====================
node_modules/
dist/
build/
*.log
.env

# =====================
# React
# =====================
front/build/
front/node_modules/
front/.env

# =====================
# Backend
# =====================
back/dist/
back/node_modules/
back/.env

# =====================
# Editor / Sistema
# =====================
.vscode/
.DS_Store
.idea/
*.swp
